.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.hr {
    border-top: 1px solid #bdc3c7;
}

/* jumbotron on login view */
#loginJumbo {
    background: url(../images/bg1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

/* container for signup div */
.signup-container {
    position: relative;
    width: 400px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    border: 1px solid #cccccc;
    background: rgba(255, 255, 255, .9);
    border-radius: 5px;
}

/* login form box */
.signup-form-box input {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 40px;
    border: 1px solid #cccccc;;
    background: #fafafa;
    transition: 0.2s ease-in-out;
}

.signup-container #login {
    font-size: 1em;
}

.signup-form-box input:focus {
    outline: 0;
    background: #eeeeee;
}

.signup-form-box .top {
    border-radius: 5px 5px 0 0;
    text-transform: capitalize;
}

.signup-form-box .middle {
    border-radius: 0;
    border-top: 0;
}

.signup-form-box .bottom {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.signup-form-box button.login {
    margin-top: 15px;
    padding: 10px 20px;
}

/* container for login div */
.login-container {
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #cccccc;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 5px;
}

.login-container #signUp {
    font-size: 1em;
}

.login-container .colorgraph {
    height: 1px;
}

/* displaying the brand image on the login container */
.brand {
    width: 100px;
    height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaaaaa;
    background-size: 120px 120px;
    background: url(../images/logo.png) -10px -10px;
}

/* login form box */
.login-form-box input {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 40px;
    border: 1px solid #cccccc;
    background: #fafafa;
    transition: 0.2s ease-in-out;
}

.login-form-box input:focus {
    outline: 0;
    background: #eeeeee;
}

.login-form-box input[type="text"] {
    border-radius: 5px 5px 0 0;
    text-transform: capitalize;
}

.login-form-box input[type="password"] {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.login-form-box button.login {
    margin-top: 15px;
    padding: 10px 20px;
}

/* Index View */
/* jumbotron on login view */
#indexBG {
    background: url(../images/bg3.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

#containerFixIndex {
    margin-top: 10%;
}

#indexPanel {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
}

.card {
    background-color: rgba(214, 224, 226, 0.2);
}

.cardheader {
    background: url("../images/bg1.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    -webkit-transition: all 2s;
    z-index: -2;
}

/*Box bei der Profilkarte*/
#jumboProfile #hovercard {
    margin-top: 20%;
    text-align: center;
    background-color: #ffffff;
}

#jumboProfile #hovercard #avatar {
    position: relative;
    top: -100px;
    margin-bottom: -80px;
}

#jumboProfile #hovercard #avatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(31, 71, 136, 0.4);
}

#jumboProfile {
    background: url(../images/bg1.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    filter: blur(3px);
    z-index: -2;
    margin-top: -1.7%;
}

#jumboProfile #info {
    text-align: center;
}

#jumboProfile #info #title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

#jumboProfile #info #desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

/* search view */
#searchJumbo {
    background: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    margin-top: -1.5%;
}

.search-container {
    position: relative;
    width: 400px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #cccccc;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 5px;
    margin-top: 30%;
}

.search-form-box input {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 40px;
    border: 1px solid #cccccc;;
    background: #fafafa;
    transition: 0.2s ease-in-out;
}

.search-form-box input:focus {
    outline: 0;
    background: #eeeeee;
}

.search-form-box .top {
    border-radius: 5px 5px 0 0;
    text-transform: capitalize;
}

.search-form-box .bottom {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}
