#loginJumbo {
    background: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: fixed;
}

#login {

}

#userBgJumbo{
	background: url(../images/bg3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position:50% 50%;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	height: 350px;
	z-index: -12;
}

#profileImg{
	background: url(../images/bg1.jpg);
	background-repeat:no-repeat;
	width: 100%;
	height: 100%;
	background-position:50% 50%;
	
}

.circletag {
    //display: block;
	position: fixed;
    width: 200px;
    height: 200px;
    -moz-border-radius: 250px;
    -webkit-border-radius: 250px;
    background-image: url(../images/logo.png);
    //background-position:50% 50%;
    background-repeat:no-repeat;
	margin: auto;
	margin-top:30px;
	top: 50px;
	z-index:10;
	left: 50%;
	transform: translateX(-50%);
}

.box{
	min-height:20px;
	padding:19px;
	margin-bottom:20px;
	background-color: #BDC3C7;
	border:1px solid #e3e3e3;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
}